.nav-buttons {
    display: flex; /* Para colocar los elementos en línea */
  }
  
  /* Ajusta el margen para agregar espacio entre los elementos */
  .nav-buttons > * {
    margin-right: 8px; /* Ajusta el espacio horizontal entre los elementos */
  }
  
  /* Para evitar que el último elemento tenga margen a la derecha */
  .nav-buttons > :last-child {
    margin-right: 0;
  }
  